*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: '맑은고딕';
    color: #222222;
    font-size: 12px;
}
img{
    border: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}